{% extends 'adminlte/base.html' %}
{% load static %}
{% block extra_head %}
<link href="{% static "aerodromes/fullcalendar/fullcalendar.css" %}" rel="stylesheet" />
<link href="{% static "aerodromes/bower_components/select2/dist/css/select2.min.css" %}" rel="stylesheet" />

{% endblock %}
{% block title %}ANACIM DNAA{% endblock %}
{% block logo_href %}{% endblock %}
{% block page_name %}TABLEAU DE BORD{% endblock %}
{% block page_actions %}{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content_wrapper %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        INSPECTIONS/
        <small>Aéroports Régionaux</small>
      </h1>
     
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      
      <!-- /.row -->
      <!-- Main row -->
     <div class="row">
       <div class="col-lg-3 col-xs-4">
      
       <div class="row">
        <div class="col-lg-4 col-xs-4">
        <h5>  AEROPORTS </h5>
               
        </div>
        <div class="col-lg-8 col-xs-8">
         <h5>ITEMS </h5>
         
                       
             
        </div>
        </div>
        <div class="row">
        <div class="col-lg-4 col-xs-4">
               <form action="{% url 'aerodromes:pscrcentre' %}" method="post">
                               
              <div id="cacher" style="display: none;">
               
                 {% csrf_token %}
    				  {{ form }}
    				 
    				 </div>
               
              <input type="submit" class="btn-block bg-green btn-flat margin" value="Z. Centre">
              </form>
              <form action="{% url 'aerodromes:pscrnord' %}" method="post">
               <div id="cacher" style="display: none;">
                 {% csrf_token %}
    				  {{ form }}
    				</div>
               
              <input type="submit" class="btn-block bg-yellow btn-flat margin" value="Z. Nord">
              </form>
              <form action="{% url 'aerodromes:pscrest' %}" method="post">
               <div id="cacher" style="display: none;">
                 {% csrf_token %}
    				  {{ form }}
    				</div>
               
              <input type="submit" class="btn-block bg-blue btn-flat margin" value="Z. Est">
              </form> 
                
                           
              <form action="{% url 'aerodromes:pscrsud' %}" method="post">
               <div id="cacher" style="display: none;">
                 {% csrf_token %}
    				  {{ form }}
    				</div>
               
              <input type="submit" class="btn-block bg-navy btn-flat margin" value="Z. Sud-E">
              </form>   
                            
                
                        
            
                 
        </div>
        <div class="col-lg-8 col-xs-8">
         
            <div class="table-responsive mailbox-messages">
             <table class="table table-hover table-striped">
             <tbody>
         
             {% for domaineinspect in listdomaineaffiches %}
             <tr>
                  <td><b>{{ domaineinspect.domaineinspection }}:</b></td>
                    <td class="mailbox-name"><a href="{{ domaineinspect.chklstdomaineinspection.url }}">Plus info</a></td>
             </tr>
             {% endfor %}
             
            
             </tbody>
             </table>
             </div>
              <form action="{% url 'aerodromes:inspectionsrdepartement' %}" method="post">
    
    
               <div class="form-group">
                <label><h5>Choisir Département et valider pour afficher le planning</h5> </label>
                 {% csrf_token %}
    				  {{ form }}
    				 
               </div>    
              
              <input type="submit" value="VALIDER">
              </form>

        </div>
        
       
        </div>
        </div>
       <div class="col-lg-9 col-xs-8">
      	 <div id="calendar"></div>
       </div>
      </div>
    </section>
    <!-- /.content -->
    
  </div>
  <!-- /.content-wrapper -->    
    
     
    
{% endblock %}

{% block extra_foot %}


<!--<script src="{% static "planformations/bower_components/fullcalendar/dist/locale/fr.js" %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script> -->
<!--<script src="{% static "planformations/bower_components/jquery/dist/jquery.min.js" %}"></script>-->
<script src="{% static "aerodromes/fullcalendar/bower_components/moment/moment.js" %}"></script>
<script src="{% static "aerodromes/fullcalendar/fullcalendar.js" %}"></script>
<script src="{% static "aerodromes/bower_components/fullcalendar/dist/locale/fr.js" %}"></script>
<script src="{% static "aerodromes/bower_components/select2/dist/js/select2.full.min.js" %}"></script>

<!--
<script src="{% static "planformations/bower_components/fullcalendar/dist/fullcalendar.js" %}"></script> -->




<script type="text/javascript" >

// Code goes here
$(document).ready(function() {

/*var debutinspection = "{{ debutinsp }}",
	 fininspection = "{{ fininsp }}",
	 domaineinspection = "{{ domaineinsp }}",
	 /*inspection_bon_format
	 for (i in inspections) {
	 inspection.
	 	
	 }
	     
	 domaineinspection = domaineinspection.replace("[","")
	 domaineinspection = domaineinspection.replace("]","")
	 domaineinspection = domaineinspection.replace(/&#39;/g, "")
	 domaineinspection = domaineinspection.split(',')
	 
	 fininspection = fininspection.replace("[","")
	 fininspection = fininspection.replace("]","")
	 fininspection = fininspection.replace(/&#39;/g, "")
	 fininspection = fininspection.split(',')
	 
	 debutinspection = debutinspection.replace("[","")
	 debutinspection = debutinspection.replace("]","")
	 debutinspection = debutinspection.replace(/&#39;/g, "")
	 debutinspection = debutinspection.split(',')*/
	 
	 
	 function couleur(nomaerodrome) {
	 couleurevt = 'blue';
	 if (nomaerodrome.search(/centre/i) >= 0) 
	 	couleurevt = 'green';
	 if (nomaerodrome.search(/nord/i) >= 0) 
	 	couleurevt = 'orange';
	  if (nomaerodrome.search(/est/i) >= 0) 
	 	couleurevt = 'blue';
	 if (nomaerodrome.search(/sud/i) >= 0) 
	 	couleurevt = 'black';
	
	 		 
	 return couleurevt;
	 }
	
	 
function dateplusun(datef) {
var ofeit = new Date(datef);
ofeit.setDate(ofeit.getDate() + 1);
return ofeit;
	
}


  // page is now ready, initialize the calendar...

  var calendar = $('#calendar').fullCalendar({
    // put your options and callbacks here
    //lang  : 'fr',
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'year,month,basicWeek,basicDay'

    },
     buttonText: {
        today: "Aujourd'hui",
        year : 'Année',
        month: 'Mois',
        week : 'Semaine',
        day  : 'Jour'
      },
  
    //timezone: 'local',
    height: "auto",
    selectable: true,
    dragabble: true,
    defaultView: 'year',
    yearColumns: 3,

    durationEditable: true,
    bootstrap: false,

    events: [
    {% for i in listeinspection %}
     
    {  
    
      title: '{{ i.domaineinspbf }}',         
      start:  '{{ i.debutinspbf }}',
      end:  dateplusun('{{ i.fininspbf }}'),
      allDay: true,
      description: '{{ i.aerodromeinspbf }}',
      //editable: true,
      
      eventDurationEditable: true,
      color : couleur('{{ i.codeinspbf }}'),
    }, 
   
   
    {% endfor %}
    ],
    /*select: function(start, end, allDay) {
      var title = prompt('Libellé de la mission:');
      if (title) {
        var event = {
          title: title,
          start: start.clone(),
          end: end.clone(),
          allDay: true,
          editable: true,
          eventDurationEditable: true,
          eventStartEditable: true,
          color: 'red',
        };

        calendar.fullCalendar('renderEvent', event, true);
      }
    },*/
    
     eventRender: function(event, element) {
    $(element).tooltip({title: event.title +  " du " + event.start.date() + " au " + (event.end.date()-1) + " à " + event.description});
}
  });
});

 $(function () {
 //Enable check and uncheck all functionality
    $('.checkbox-toggle').click(function () {
      var clicks = $(this).data('clicks')
      if (clicks) {
        //Uncheck all checkboxes
        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
        
      
      } else {
        //Check all checkboxes
        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
       //document.getElementById("sli").checked = false
      }
      $(this).data('clicks', !clicks)
    })
})
</script>

{% endblock %}


